{% extends "skeleton.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h1>M/(r|s|iss)/ {{account.owner}}'s Account details</h1>
<form action="/account/{{account.account_number}}" method="post">
    <div class="form-group">
        <input class="form-control" type="number" id="bal" placeholder="{{account.amount}}">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
<form action="/account/del/{{account.account_number}}" method="post">
    <input type="submit" name="upvote" onsubmit="return confirm('Do you really want to delete {{account.owner}}\'s account?');" value="Delete Account" class="btn btn-danger" />
</form>
{% endblock %}
