{% extends "skeleton.html" %}
{% block body %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ezwMYMHS38A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Нам нужна новая безопасность. Мы считаем, что есть грязные капиталисты, которые хотят нас сбить, и этого не может быть, товарищ. Возможно, если вы присоединитесь к нам, мы будем терпеть.</p>
<p>Вы должны обеспечить все наши услуги и должным образом обслуживать вечеринку. Я не думаю, что мне нужно говорить вам, что произойдет, если вы провалите вечеринку, да?</p>

{% endblock %}